@{
    ViewData["Title"] = "About";
}
@model DotnetDemoApp.ViewModels.HomeAboutViewModel

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p style="background-color: rgba(0, 0, 0, 0.5); padding: 10px;">This is a simple .NET Core MVC application. Based on the default SDK template, some minor modifications have been made to enable it to run inside a Docker container</p>

<ul style="background-color: rgba(0, 0, 0, 0.5); padding: 30px;">
    <li>Running on host: <b>@Model.host</b></li>
    <li>Container: <b>@Model.container</b></li>
    <li>IP Address: <b>@Model.ip</b></li>
    <li>Operating system: <b>@Model.os</b></li>
    <li>Processors: <b>@Model.procs (@Model.arch)</b></li>
    <li>Framework: <b>@Model.framework</b></li>
</ul>