@{
    ViewData["Title"] = "System Info";
}
@model DotnetDemoApp.ViewModels.HomeAboutViewModel

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p style="background-color: rgba(0, 0, 0, 0.5); padding: 10px;">This is a simple .NET Core MVC application. </br>Based on the default SDK template, some minor modifications have been made to enable it to run as a Docker container, enable Application Insights and display this runtime info</p>

<div class="sysinfo-box">
    <table>
        <tr><td>Container:</td><td>Running as a @Model.container</td></tr>
        <tr><td>Hostname:</td><td>@Model.host</td></tr>
        <tr><td>IP Address:</td><td>@Model.ip</td></tr>
        <tr><td>Operating system:</td><td>@Model.os</td></tr>
        <tr><td>Processors:</td><td>@Model.procs (@Model.arch)</td></tr>
        <tr><td>Memory:</td><td>@Model.mem GB</td></tr>                        
        <tr><td>Framework:</td><td>@Model.framework</td></tr>                        
    </table>
</div>